---
import Header from '../components/Header.astro'; //importamos el componente Header
import Footer from '../components/Footer.astro';
import Card1 from '../components/Card1.astro';
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wara</title>
</head>
<body>
    <Header/>
    <Card1/>
    <Footer/>
</body>
</html>
<style>
    // codigo si quieres trabajar con css
</style>
