---
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
</head>
<body>
    <footer>
        <h2>WebMaster: Yujra Calle Luz Valentina</h2>
        <h2>Derechos de autor © 2024. Todos los derechos reservados.</h2>
        <h2>Confidencialidad: Esta información es privada y confidencial.</h2>
    </footer>
</body>
</html>