---

---

<header>
    <h1>Lo Mejor de K-Pop</h1>
    <h1>Diagnóstico</h1>
</header>
<style>
    header {
    background-color: #0074D9; /* Azul más claro */
    padding: 20px 0;
}
h1 {
    margin: 0;
    font-size: 2.5rem;
}
</style>